@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"><br />
    <h1 class="display-4">Welcome to FinaceTracker</h1><br />
    <a asp-controller="Home" asp-action="Expenses" class="btn btn-primary">Overview of Expenses</a>
    <a asp-controller="Home" asp-action="AddEditExpense" class="btn btn-secondary">Add/Edit an Expense</a>
</div>
